.paper {
  margin-top: 16px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circularprogress {
  align-self: center;
}

.griditem {
  text-align: center;
}

h2.netincome {
  margin-bottom: 0.75em;
  text-align: center;
}

.textsuccess {
  color: #4caf50;
}

.texterror {
  color: #f44336;
}

section.recentactivity {
  margin-top: 8px;
  padding: 24px 16px;
}

.descriptionellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

.tablecontainer {
  margin-top: 4px;
  padding: 8px;
}
